altgraph==0.17.4
colorama==0.4.6
iniconfig==2.0.0
numpy==2.1.2
packaging==24.1
pandas==2.2.3
pefile==2023.2.7
pillow==10.4.0
pluggy==1.5.0
pyinstaller==6.11.0
pyinstaller-hooks-contrib==2024.9
PyQt6==6.7.1
PyQt6-Qt6==6.7.3
PyQt6_sip==13.8.0
pytest==8.3.2
python-dateutil==2.9.0.post0
pytz==2024.2
pywin32-ctypes==0.2.3
setuptools==75.3.0
six==1.16.0
speedtest-cli==2.1.3
tzdata==2024.2